.u-section-1 .u-sheet-1 {
  min-height: 638px;
}

.u-section-1 .u-group-1 {
  width: 451px;
  min-height: 454px;
  animation-duration: 1000ms;
  margin: 60px auto 0 651px;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-shape-1 {
  height: auto;
  background-image: none;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 426px;
  height: 426px;
  background-image: url("images/125181040_117213510199071_4970842316635497815_n1.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: -439px auto 0;
}

.u-section-1 .u-group-2 {
  width: 516px;
  min-height: 372px;
  margin: -409px auto 105px 38px;
}

.u-section-1 .u-container-layout-2 {
  padding-bottom: 9px;
}

.u-section-1 .u-group-3 {
  width: 181px;
  animation-duration: 1000ms;
  min-height: 64px;
  margin: 22px auto 0 6px;
}

.u-section-1 .u-container-layout-3 {
  padding: 18px 0;
}

.u-section-1 .u-text-1 {
  font-family: "Bubblegum Sans";
  animation-duration: 1000ms;
  font-size: 1.5rem;
  margin: 0 16px;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-weight: 700;
  font-family: Aclonica;
  animation-duration: 1000ms;
  font-size: 3rem;
  margin: 18px 6px 0 0;
}

.u-section-1 .u-text-3 {
  font-family: "Denk One";
  font-size: 1.5rem;
  animation-duration: 1000ms;
  width: 354px;
  margin: 16px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 36px;
  min-height: 16px;
  width: 128px;
  min-width: 68px;
  animation-duration: 1000ms;
  margin: 24px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  animation-duration: 1000ms;
  transition-duration: 0.5s;
  margin: 24px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-top: 92px;
    margin-right: -34px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 0;
  }

  .u-section-1 .u-image-1 {
    filter: brightness(0.99);
  }

  .u-section-1 .u-group-2 {
    margin-top: -413px;
    margin-bottom: 60px;
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    width: 200px;
    margin-top: 12px;
    margin-left: 7px;
  }

  .u-section-1 .u-text-1 {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    height: NaNpx;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 191px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}

.u-section-1 .u-btn-1 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(42,9,68,0.45), rgba(42,9,68,0.45)), url("images/fba7125a8b5c9c852feffa7b358399d1d47a03353ce2e5207251e93730f73b5b3c786a5620b1090d9bc36170d90f50a4d85bd727753e9b062e2f17_1280.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 756px;
}

.u-section-2 .u-shape-1 {
  height: 493px;
  width: 546px;
  animation-duration: 1000ms;
  margin: 226px 14px 0 auto;
}

.u-section-2 .u-group-1 {
  width: 546px;
  min-height: 661px;
  animation-duration: 1000ms;
  background-image: none;
  margin: -682px 14px 0 auto;
}

.u-section-2 .u-shape-2 {
  height: 493px;
  width: 535px;
  margin: 0 auto 0 5px;
}

.u-section-2 .u-text-1 {
  animation-duration: 1000ms;
  margin: -474px 20px 0 19px;
}

.u-section-2 .u-text-2 {
  animation-duration: 1000ms;
  margin: 18px 20px 0 19px;
}

.u-section-2 .u-list-1 {
  width: 512px;
  margin: -574px auto 0 25px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 16px) calc(50% - 16px);
  min-height: 509px;
  grid-gap: 32px 32px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-line-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 15px;
  transform-origin: left center 0px;
}

.u-section-2 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 700;
  background-image: none;
  margin: 50px 14px 0 11px;
}

.u-section-2 .u-text-4 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 13px 0 10px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-2 .u-line-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 15px;
  transform-origin: left center 0px;
}

.u-section-2 .u-text-5 {
  font-size: 4.5rem;
  font-weight: 700;
  background-image: none;
  margin: 50px 14px 0 11px;
}

.u-section-2 .u-text-6 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 13px 0 10px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-2 .u-line-3 {
  margin-top: 0;
  margin-bottom: 0;
  height: 15px;
  transform-origin: left center 0px;
}

.u-section-2 .u-text-7 {
  font-size: 4.5rem;
  font-weight: 700;
  background-image: none;
  margin: 50px 14px 0 11px;
}

.u-section-2 .u-text-8 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 13px 0 10px;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-2 .u-line-4 {
  margin-top: 0;
  margin-bottom: 0;
  height: 15px;
  transform-origin: left center 0px;
}

.u-section-2 .u-text-9 {
  font-size: 4.5rem;
  font-weight: 700;
  background-image: none;
  margin: 50px 14px 0 11px;
}

.u-section-2 .u-text-10 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 13px 0 10px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 212px;
    margin-right: -45px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -678px;
    margin-right: -45px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 3px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -481px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-left: 20px;
  }

  .u-section-2 .u-list-1 {
    width: 467px;
    margin-top: -557px;
    margin-bottom: 60px;
    margin-left: -36px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 467px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 8px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 8px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 8px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 8px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1103px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 19px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 14px;
    margin-left: 19px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -557px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1161px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-top: 500px;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: -966px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(42,9,68,0.45), rgba(42,9,68,0.45)), url("images/fba7125a8b5c9c852feffa7b358399d1d47a03353ce2e5207251e93730f73b5b3c786a5620b1090d9bc36170d90f50a4d85bd727753e9b062e2f17_1280.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 600px;
}

.u-section-3 .u-icon-1 {
  height: 76px;
  width: 76px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  animation-duration: 1000ms;
  margin: 91px auto 0 339px;
}

.u-section-3 .u-icon-2 {
  height: 76px;
  width: 76px;
  background-image: none;
  animation-duration: 1000ms;
  color: rgb(17, 17, 17) !important;
  margin: -88px 337px 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-style: normal;
  animation-duration: 1000ms;
  margin: 30px 619px 0 232px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-style: normal;
  animation-duration: 1000ms;
  margin: -62px 232px 0 619px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 4px auto 0 282px;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -27px 317px 0 auto;
  padding: 0;
}

.u-section-3 .u-icon-3 {
  height: 76px;
  width: 76px;
  background-image: none;
  animation-duration: 1000ms;
  color: rgb(17, 17, 17) !important;
  margin: 37px auto 0 339px;
}

.u-section-3 .u-icon-4 {
  height: 74px;
  width: 74px;
  background-image: none;
  animation-duration: 1000ms;
  color: rgb(17, 17, 17) !important;
  margin: -74px 340px 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-style: normal;
  animation-duration: 1000ms;
  margin: 17px 618px 0 232px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-style: normal;
  animation-duration: 1000ms;
  margin: -75px 232px 0 619px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 17px auto 0 275px;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -27px 330px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 254px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -76px;
    margin-right: 278px;
    margin-left: 617px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 10px;
    margin-right: 546px;
    margin-left: 206px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -100px;
    margin-right: 190px;
    margin-left: 561px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 13px;
    margin-left: 204px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 117px;
    margin-left: 597px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 24px;
    margin-left: 254px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: -75px;
    margin-right: 280px;
    margin-left: 617px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 10px;
    margin-right: 553px;
    margin-left: 198px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -100px;
    margin-right: 190px;
    margin-left: 561px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 13px;
    margin-left: 190px;
  }

  .u-section-3 .u-btn-4 {
    margin-right: 130px;
    margin-left: 607px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 0;
    margin-left: 195px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 0;
    margin-right: 213px;
    margin-left: 473px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-right: 436px;
    margin-left: 96px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
    margin-right: 80px;
    margin-left: 451px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 0;
    margin-left: 195px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 0;
    margin-right: 214px;
    margin-left: 473px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
    margin-right: 530px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 0;
    margin-right: 80px;
    margin-left: 451px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-4 {
    margin: 0 0 0 auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 146px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 160px;
    margin-left: 355px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 346px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 351px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 146px;
  }

  .u-section-3 .u-icon-4 {
    margin-right: 161px;
    margin-left: 355px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 350px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 351px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 92px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 101px;
    margin-left: 224px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 152px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 151px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 92px;
  }

  .u-section-3 .u-icon-4 {
    margin-right: 101px;
    margin-left: 224px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 150px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 151px;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 7px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(42,9,68,0.45), rgba(42,9,68,0.45)), url("images/fba7125a8b5c9c852feffa7b358399d1d47a03353ce2e5207251e93730f73b5b3c786a5620b1090d9bc36170d90f50a4d85bd727753e9b062e2f17_1280.jpg");
}

.u-section-4 .u-sheet-1 {
  min-height: 784px;
}

.u-section-4 .u-text-1 {
  background-image: none;
  font-weight: 700;
  font-family: Aclonica;
  animation-duration: 1000ms;
  font-size: 3.75rem;
  width: 339px;
  margin: 56px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 544px;
  margin-top: 56px;
  margin-bottom: 60px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-slide-1 {
  transition-duration: 0.5s;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(42,9,68,1), rgba(42,9,68,1));
  padding: 30px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-slide-2 {
  transition-duration: 0.5s;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(42,9,68,1), rgba(42,9,68,1));
  padding: 30px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 60px;
  height: 60px;
  background-image: none;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 60px;
  height: 60px;
  background-image: none;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 21px;
    margin-bottom: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 553px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 415px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 82px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(42,9,68,0.45), rgba(42,9,68,0.45)), url("images/fba7125a8b5c9c852feffa7b358399d1d47a03353ce2e5207251e93730f73b5b3c786a5620b1090d9bc36170d90f50a4d85bd727753e9b062e2f17_1280.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 644px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 26px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  animation-duration: 1000ms;
  margin: 132px 46px 0 22px;
}

.u-section-5 .u-text-2 {
  font-family: Skranji;
  animation-duration: 1000ms;
  font-size: 1.5rem;
  margin: 22px 22px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-shape-1 {
  width: 602px;
  height: 540px;
  animation-duration: 1000ms;
  margin: -20px -16px;
}

.u-section-5 .u-map-1 {
  animation-duration: 1000ms;
}

@media (max-width: 1199px) {
   .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 520px;
  }

  .u-section-5 .u-shape-1 {
    width: 502px;
    margin-top: -10px;
    margin-bottom: -10px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 500px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-shape-1 {
    width: 360px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-shape-1 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 512px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 570px;
  margin: 22px auto 0 26px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 344px;
  margin-top: 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 12px 0 7px;
}

.u-section-6 .u-text-1 {
  font-family: Skranji;
  animation-duration: 1000ms;
  margin: 0 auto 0 24px;
}

.u-section-6 .u-line-1 {
  width: 519px;
  height: 3px;
  transform-origin: left center 0px;
  animation-duration: 1000ms;
  margin: 14px auto 0;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 242px;
  min-width: 146px;
  animation-duration: 1000ms;
  margin: 15px auto 0 24px;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

.u-section-6 .u-icon-5 {
  height: 100%;
}

.u-section-6 .u-icon-6 {
  height: 100%;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  line-height: 1.8;
  font-style: italic;
  font-size: 0.875rem;
  animation-duration: 1000ms;
  margin: 14px 25px 0;
}

.u-section-6 .u-text-3 {
  font-family: Skranji;
  font-size: 4.5rem;
  animation-duration: 1000ms;
  margin: 11px 76px 0 24px;
}

.u-section-6 .u-form-1 {
  height: 468px;
  margin: -375px 16px -10px 646px;
}

.u-section-6 .u-form-group-1 {
  margin-left: auto;
}

.u-section-6 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-6 .u-form-group-2 {
  margin-left: auto;
}

.u-section-6 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-6 .u-form-group-3 {
  margin-left: auto;
}

.u-section-6 .u-input-3 {
  font-size: 1.25rem;
}

.u-section-6 .u-form-group-4 {
  margin-left: auto;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  margin-left: auto;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 575px;
    margin-left: -41px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 321px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-6 .u-line-1 {
    width: 524px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
  }

  .u-section-6 .u-form-1 {
    margin-right: -22px;
    margin-left: 534px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-6 .u-form-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: -41px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 178px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 29px 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-6 .u-form-1 {
    margin-top: -375px;
    margin-right: -22px;
    margin-left: 334px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-6 .u-line-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-form-1 {
    margin-left: 234px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/dsdddd.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 1033px;
}

.u-section-7 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(66,84,101,0.4);
  width: 861px;
  letter-spacing: 2px;
  text-transform: none;
  font-family: Poppins;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 198px auto 0;
}

.u-section-7 .u-image-1 {
  width: 570px;
  height: 398px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  line-height: 1.8;
  width: 589px;
  margin: 10px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 852px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    width: 513px;
    height: 317px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: 66px;
    margin-right: 66px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 90px;
  }

  .u-section-7 .u-image-1 {
    width: 468px;
    height: 254px;
    margin-top: 35px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    width: 272px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-image-1 {
    width: 295px;
    height: 160px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 34px;
  }
}